@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import '~antd/dist/antd.css';

@font-face {
    font-family: 'Trajax';
    src: local('Trajax'),url('../fonts/Trajax/Trajax.ttf') format('truetye');
}

* {
    font-family: 'Trajax'
}